<app-bar-top></app-bar-top>
<app-carousel></app-carousel>
<app-bar-body id="cursos-gerais" [maxWidth]="125" [image]="'https://parsefiles.back4app.com/n0JAgSSzjFLdJv5RQN0NvKY72y9G9RkvMRPYg69o/48d81e79439538f9cf8870197f52189e_Cursos.png'"></app-bar-body>
<app-cursos></app-cursos>
<app-bar-body id=profissionais [maxWidth]="225" [image]="'https://parsefiles.back4app.com/n0JAgSSzjFLdJv5RQN0NvKY72y9G9RkvMRPYg69o/c48bd02710f8f6ec840004032f512010_Professores.png'"></app-bar-body>
<app-teachers></app-teachers>
<app-bar-body id="blog" [maxWidth]="90" [image]="'https://parsefiles.back4app.com/n0JAgSSzjFLdJv5RQN0NvKY72y9G9RkvMRPYg69o/da5258142d54e96791ee34877d174405_Blog.png'"></app-bar-body>
<app-blog></app-blog>
<app-bar-body [style]="'inverted'" [maxWidth]="185" [image]="'https://parsefiles.back4app.com/n0JAgSSzjFLdJv5RQN0NvKY72y9G9RkvMRPYg69o/486eeb6add659cfc3651cc1523b303c5_Parceiros.png'"></app-bar-body>
<app-partners></app-partners>
<app-footer id="contato"></app-footer>